{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters%}
{% load static %}
{% block title %}- Home{% endblock %}


{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <img class="w-full h-auto max-w-xl rounded-lg dark:hedden" src="{% static 'img/Certification-pana.svg' %}"
            alt="dashboard image" />
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Sign up for an account to take the quiz.
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">
                Our website is an interactive platform designed to enhance learning and
                knowledge. We offer a wide range of quizzes, tests, and other
                interactive tools to help you improve your understanding of different
                subjects. Whether you're a student, a professional, or simply someone
                looking to expand your knowledge, our site offers something for
                everyone. With easy-to-use navigation and a variety of content, you'll
                find it simple to find the information you need. Sign up for an account
                today to start exploring the wealth of knowledge available on our site.
            </p>
            <a href="{% url 'register' %}"
                class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
                Get started
                <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>


<!-- Frequently asked questions -->


<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Frequently asked questions
        </h2>
        <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How to create an account?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">You can create an account by clicking on the "Get
                        started"
                        button on the top right corner of the page. You will be redirected to the registration page
                        where you can fill in your details.</p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        How to take a quiz?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Once you have created an account, you can take a quiz by
                        clicking on the "Take a quiz" button on the top right corner of the page. You will be redirected
                        to the quiz page where you can select a quiz to take.</p>
                </div>
            </div>
            <div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Should be a part of the EMSI university?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">Yes, you should be a part of the EMSI Group to take a
                        quiz. this platform is only for EMSI students.</p>
                    </p>
                </div>
                <div class="mb-10">
                    <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                        <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Can I pass the quiz on my phone?
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        <a href="#"
                            class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline">
                            EduQuiz</a> is fully responsive, so you can take the quiz on your phone.
                    </p>
                    </p>
                    <p class="text-gray-500 dark:text-gray-400">But we recommend you to take the quiz on your laptop or
                        desktop for a better experience.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<!--  Quote section -->

<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-4 mx-auto text-center lg:py-16 lg:px-6">
        <figure class="max-w-screen-md mx-auto">
            <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                    fill="currentColor" />
            </svg>
            <blockquote>
                <p class="text-2xl font-medium text-gray-900 dark:text-white">"Passing the quiz is not the end of the
                    learning process, it's the beginning of a new one."</p>
            </blockquote>
            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                <img class="w-6 h-6 rounded-full" src="{% static 'img/me.png' %}" alt="AMJAD Yassine">
                <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                    <div class="pr-3 font-medium text-gray-900 dark:text-white">AMJAD Yassine</div>
                    <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">developer of this platform and
                        student at EMSI</div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>






{% endblock %}