{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<style>
    #group-modal:not(.hidden) {
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }
</style>
<section class="flex dark:bg-gray-900">
    <div class="w-full max-w-screen-xl px-4 mx-auto lg:px-12">
        <!-- Start coding here -->
        <div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
            <div class="flex-row items-center justify-between p-4 space-y-3 sm:flex sm:space-y-0 sm:space-x-4">
                <div>
                    <h5 class="mr-3 font-semibold dark:text-white">Create Group</h5>
                    <p class="text-gray-500 dark:text-gray-400 my-2">Manage your groups</p>
                </div>
                <!-- Modal toggle -->
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    data-modal-target="group-modal" data-modal-toggle="group-modal">
                    <svg class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor" stroke-width="1.5"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                    </svg>
                    Create Group
                </button>
                <!-- Main modal -->
                <div id="group-modal" tabindex="-1" aria-hidden="true"
                    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
                    <div class="relative w-full h-full max-w-md md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                data-modal-hide="group-modal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="px-6 py-6 lg:px-8">
                                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create Group</h3>
                                <form class="space-y-6" method="post">
                                    {% csrf_token %}
                                    <label for="id_name"
                                        class="block text-sm font-medium text-gray-700 dark:text-gray-200">
                                        Group name (e.g. "Group 1")
                                        <span class="text-red-500">*</span>
                                    </label>
                                    {{ create_group_form|crispy }}
                                    <button type="submit"
                                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Create Group
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-4">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Created by
                </th>
                <th scope="col" class="px-6 py-3">
                    Users
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody id="groups">
            {% for group in groups %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="" alt="{{ group.name }}" id="{{ group.name }}" width="40"
                        height="40" />
                    {% if group.name|length > 10 %}
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{ group.name|slice:":10" }}...</div>
                    </div>
                    {% else %}
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{ group.name }}</div>
                    </div>
                    {% endif %}
                </th>
                <td class="px-6 py-4">
                    {{ group.created_by }}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> {{ group.users.count }}
                    </div>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}

{% block script %}
<script>




    function createIMG(word) {
        let myArray = word.split(" ");
        let p0 = myArray[0].charAt(0);
        let p1 = myArray[1].charAt(0);
        let img = document.getElementById(word);
        img.src = `https://dummyimage.com/100x100/1C64F2/fff&text=${p0 + p1}`;
    }
    {% for group in groups %}createIMG("{{ group.name }}");{% endfor %}

</script>
{% endblock script %}