{% extends 'dashboard.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

{% if user.is_staff %}

<section class="bg-white dark:bg-gray-900 left">
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16 my-4 dark:bg-gray-900">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">This is the preview of your quiz {{ quiz.title }}</h2>
        <p class="mb-2 text-gray-600 dark:text-gray-400"> In this panel you can preview the quiz you have created.</p>

        <div class="flex flex-col dark:text-gray-400 dark:bg-gray-900">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align
                middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg dark:bg-gray-900">
                        <table class="min-w-full divide-y divide-gray-200 dark:text-gray-400 dark:bg-gray-900">
                            <thead class="bg-gray-50 dark:bg-gray-900">
                                <tr>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Question
                                    </th>

                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        option 1
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        option 2
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        option 3
                                    </th>
                                    <th scope="col"
                                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        option 4
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-900 dark:text-gray-400">
                                {% for question in questions %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 dark:text-gray-400">{{ question.question }}</div>
                                    </td>
                                    {% for answer in question.answer_set.all %}
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <div class="text-sm text-gray-900 dark:text-gray-400">{{ answer.answer }}</div>
                                        <div class="text-sm text-gray-500 dark:text-gray-400">{{ answer.is_correct }}</div>
                                    </td>
                                    {% endfor %}
                                  
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% else %}
{% endif %}
{% endblock %}